body {
    width: 1445px;
    height: auto;
    background-color: white;
    font-family: Roboto;
    color: #070707;
}

header,
section,
footer,
section:nth-of-type(2) figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    padding-bottom: 88px;
}

h2 {
    margin-bottom: 48px;
    font: 700 34px Roboto;
    text-align: center;
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 940px;
    padding: 40px 0 20px 0;
    margin-bottom: 35px;
    border-bottom: 1px solid #828282;
}

.menu li {
    cursor: pointer;
    font: 700 18px Roboto;
}

.menu a {
    text-decoration: none;
    color: #070707;
}

.header-title-wrapper {
    display: flex;
    align-items: flex-end;
    width: 940px;
    margin-bottom: 35px;
}

h1 {
    margin-right: 100px;
    font: 700 47px/55px Roboto;
}

.header-title-wrapper p {
    padding-bottom: 21px;
    font: 500 18px/21px Roboto;
}

section:nth-last-of-type(odd) {
    background-color: #f6f6f6;
}

section:first-of-type {
    padding-top: 90px;
    padding-bottom: 104px;
}

section:first-of-type p {
    font: 500 18px/21px Roboto;
    text-align: center;
}

section:first-of-type p:not(:last-of-type) {
    margin-bottom: 30px;
}

section:nth-of-type(2) {
    padding: 90px 0 111px 0;
}

section:nth-of-type(2) h2 {
    margin-bottom: 48px;
}

section:nth-of-type(2) p {
    margin-bottom: 88px;
}

section:nth-of-type(2) .items-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 940px;
}

section:nth-of-type(2) figcaption {
    margin: 24px 0 40px 0;
    text-align: center;
}

.reit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    max-width: 170px;
    width: 100%;
}
.reit li {
    width: 26.63px;
    height: 25.84px;
    background-repeat: no-repeat;
    background-position: center;
}
.reit li:not(.light) {
    background-image: url("../assets/images/starblack.svg");
}
.reit li.light {
    background-image: url("../assets/images/stargrey.svg");
}

/*.reit li{*/
    /*position: relative;*/
    /*width: 25px;*/
    /*height: 25px;*/
/*}*/

/*.reit li:before{*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*background: red;*/
/*}*/

/*.reit li.light:before{*/
    /*background: grey;*/
/*}*/

footer button {
    border-radius: 12px;
}




