@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto'), url('../assets/fons/Roboto.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fons/Robotobold.woff') format('woff');
    font-weight: 700;
}